<!DOCTYPE html>
<html>
  <head>
    <title>Active</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">



    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Skill Tracker</h1>
          <h2 class="subtitle">A summary</h2>
        </div>
        <div class="">
          <p>
            <% def user_is_logged_in
              session[:user_id]
             end
             %>

            <% if user_is_logged_in %>
              <%= link_to 'Logout', sessions_path, method: :delete, class:"button is-primary is-inverted"%>
            <%else%>
              <%= link_to 'New Account ', new_users_path, class:"button is-primary is-inverted" %>
              
              <%= link_to ' Login', new_sessions_path, class:"button is-primary is-inverted" %>
            <% end %>
          </p>
        </div>

      </div>
    </section>
    <div class="container is-fluid">

      <%= yield %>
    </div>
  </body>
</html>
